{% extends "admin/base.html" %}

{% block extrahead %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'mini_buildd.css' %}">

	<script src="{% static 'javascript/jquery/jquery.min.js' %}"></script>

	<!-- Overwrite 'admin.css' from django which sets these values to fixed pixels for some reason -->
	<style>
		select { height: initial; }
		select[multiple] { min-height: initial; }
	</style>
{% endblock %}

{% block branding %}
	<a href="{% url 'home' %}">
		<img class="mbd-icon" src="{% static 'mini_buildd.svg' %}" alt="Home" title="Home: {{ mbd.daemon.get_title }}">
	</a>
{% endblock %}
