{% extends "mini_buildd/base.html" %}
{% block title %}{% block page_title %}{{ mbd.daemon.model }}{% endblock %}{% endblock %}
{% block subtitle %}Powered {{ mbd.daemon.is_alive|yesno:'on,off' }}{% endblock %}
{% block menu_r %}<li>{% mbd_api_popup "power" %}</li>{% endblock %}

{% block section %}
	<h2 class="{{ mbd.daemon.events_queue.running|length|yesno:"mbd-ongoing," }} {{ mbd.daemon.is_alive|yesno:",mbd-off" }}">
		{{ mbd.daemon.is_alive|yesno:"Running,Stopped" }} ({{ mbd.daemon.events_queue.running|length }} ongoing events)
	</h2>
	{% include "mini_buildd/includes/events.html" with events=mbd.daemon.events_queue.running.values id="mbd-running-events" %}
{% endblock %}
