{% extends "mini_buildd/base.html" %}
{% block title %}{% block page_title %}{{ route|title }}{% endblock %}{% endblock %}
{% block menu_r %}<li><a href="{{ mbd.config.URIS.manual.static }}">Standalone View</a></li>{% endblock %}

{% block section %}
	<iframe title="{{ route|title }}" src="{{ mbd.config.URIS.manual.static }}"></iframe>
{% endblock %}
