{% extends "mini_buildd/base.html" %}
{% block title %}{% block page_title %}{{ route|title }}: /{{ path }}{% endblock %}{% endblock %}
{% block subtitle %}{{ view.mbd_builds|length }} builds since {{ view.mbd_since }}{% endblock %}

{% block section %}
	{% mbd_hash "mbd-builds-"|add:path as table_id %}
	<table id="{{ table_id }}">
		{% mbd_datatable table_id order='[0, "desc"]' %}
		<thead>
			<tr>
				<th>Timestamp</th>
				<th>Buildlog</th>
			</tr>
		</thead>
		<tbody>
			{% for timestamp, uri in view.mbd_builds.items %}
				<tr>
					<td data-order="{{ timestamp|date:"U:u" }}">{{ timestamp|date:"r" }}</td>
					<td><a href="{% url 'builds-dir' uri %}">{{ uri|mbd_basename }}</a></td> {# FIXME #}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
