{% extends "mini_buildd/base.html" %}
{% block title %}{% block page_title %}Setup{% endblock %}{% endblock %}
{% block menu_c %}
	<li>
		<img class="mbd-icon" src="{% static 'debian.svg' %}" alt="Debian">
		{% mbd_api_popup mbd.api.Setup.preset_debian name="Debian" title="Default preset for Debian" %}
	</li>
	<li>
		<img class="mbd-icon" src="{% static 'ubuntu.svg' %}" alt="Ubuntu">
		{% mbd_api_popup mbd.api.Setup.preset_ubuntu name="Ubuntu" title="Default preset for Ubuntu" %}
	</li>
	<li>
		<img class="mbd-icon" src="{% static 'debian.svg' %}" alt="Debian"><img class="mbd-icon" src="{% static 'ubuntu.svg' %}" alt="Ubuntu">
		{% mbd_api_popup mbd.api.Setup.preset_debian_ubuntu name="Debian & Ubuntu" title="Default preset for Debian & Ubuntu" %}
	</li>
{% endblock %}
{% block menu_r %}<li><a href="{% url 'admin:index' %}">Standalone View</a></li>{% endblock %}

{% block section %}
	<section>
		{% mbd_get mbd.api.Setup.preset_saved as custom %}
		{% if custom.saved %}
			{% mbd_file content=custom.setup.command_line title="Current Setup" %}
			{% mbd_api_popup custom.setup name="Update" title="Re-run setup with the saved setup" %}
		{% else %}
			{% mbd_api_popup custom.setup name="Custom" title="" %}
		{% endif %}
	</section>

	<section>
		<iframe title="{{ route|title }}" src="{% url 'admin:index' %}"></iframe>
	</section>
{% endblock %}
