{% extends "!layout.html" %}

{% block extrahead %}
	<style>
		.root-code
		{
			background-color: thistle;
		}
		.root-code::before
		{
			content: "Run code as user root";
			font-style: italic;
			filter: opacity(30%);
		}
		.mini-buildd-code
		{
			background-color: lightblue;
		}
		.mini-buildd-code::before
		{
			content: "Run code as user mini-buildd";
			font-style: italic;
			filter: opacity(30%);
		}
		img.logo-menu
		{
			vertical-align: middle;
			height: 1.4em;
		}
	</style>
{% endblock %}

{% block rootrellink %}
	<li><a href="/mini_buildd/"><img class="logo-menu" src="/static/manual/_static/mini_buildd.svg" alt="Logo"></a></li>
	{{ super() }}
{% endblock %}
