<div role="note">
	<h3 title="mini-buildd commands">Commands</h3>
	<select id="mbd-command" style="width:70%;">
		{% for c in COMMANDS|sort %}  {# 'sort' needed for reproducibility #}
			<option value="{{ c }}" {% if c == "mini-buildd-api" %}selected{% endif %}>{{ c }}</option>
		{% endfor %}
	</select>
	<input type="button" onclick="location.href = '_static/man/' + $('#mbd-command').val() + '.html'" value="Man">

	<h3 title="mini-buildd API calls"><a href="/mini_buildd/api/">API calls</a></h3>
	<form class="search" action="/mini_buildd/api/" method="get">
		<select name="call" style="width:70%;">
			{% for a in APICALLS|sort %}  {# 'sort' needed for reproducibility #}
				<option value="{{ a }}" {% if a == "ls" %}selected{% endif %}>{{ a }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Doc">
	</form>
</div>
