<form class="{{ cls }}" method="get" action="{% url url_name %}">
	{% if next %}
		<input name="next" type="hidden" value="{{ next }}">
	{% endif %}
	<input type="submit" value="{{ name }}" title="{{ title|default:name|title }}">
</form>
