<span class="{% mbd_cssmap 'sbuild_status' bres.sbuild_status %}" title="sbuild: {{ bres.sbuild_status }}">B</span>
{% for check, status in checks.items %}
	<span class="{% mbd_cssmap 'sbuild_check' status %}" title="{{ check }}: {{ status }}">{{ check.0.upper }}</span>
{% endfor %}
