<h1>HTTP {{ rfc7807.status.value }}: {{ rfc7807.status.phrase }}</h1>
<p>
	<small><em>{{ rfc7807.status.description }}</em></small>
</p>
<p>
	<strong class="{% if rfc7807.status.value == 200 %}mbd-notice{% else %}mbd-error{% endif %}">{{ rfc7807.detail }}</strong>
</p>
