{% if name == "|" %}
	<li>&vert;</li>
{% else %}
	{% mbd_dict_get mbd.daemon.attention name as attention %}
	{% mbd_dict_get mbd.config.URIS name as uris %}
	<li class="{% if request.path == uris.view.uri %}mbd-body-menu-active{% endif %} {{ attention|yesno:'mbd-attention,' }}">
		<a href="{{ uris.view }}" title="{{ attention|join:"&#10;" }}">{{ name|title }}</a>
	</li>
{% endif %}
