<header class="mbd-grid-lcr">
	<nav>
		<ul>
			<li>{% mbd_api_popup view.mbd_call %}</li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li><details><summary>shell</summary>{% mbd_file content=view.mbd_call.command_line_full title="Command line" %}</details>
		</ul>
	</nav>
	<nav>
		<ul>
			<li>{% mbd_api view.mbd_call name="page" title="Re-call && display as HTML page" output="page" hide_options=True %}</li>
			<li>{% mbd_api view.mbd_call name="json" title="Re-call && return pure JSON response" output="json" hide_options=True %}</li>
		</ul>
	</nav>
</header>

{% if messages %}
	<aside>
		<b>Messages</b>
		<ul class="mbd-messagelist">
			{% for message in messages %}
				<li class="{% mbd_cssmap 'django_messages' message.tags %}">{{ message|capfirst }}</li>
			{% endfor %}
		</ul>
	</aside>
{% endif %}

{% block results %}{% endblock %}
