{% extends "mini_buildd/base.html" %}
{% block title %}{% block page_title %}Register User{% endblock %}{% endblock %}

{% block section %}
	<form action="/accounts/register/" method="post">
		{% csrf_token %}
		<table>{{ form.as_table }}</table>
		<input type="submit">
	</form>
{% endblock %}
